.RepairMainBox {
    padding-top: 80px;
    background-color: #faf7f2;
}
.RepairWord {
    text-align: center;
    margin: 30px;
    font-size: 2.3rem;
}
.RepairInfo {
    padding: 0 20px;
    font-size: 1.7rem;
}
.RepairInfo > div {
    margin: 8px 0;
}
.RepairCardBox {
    display: flex;
    width: 100%;
}
.RepairCard {
    width: 80%;
    text-align: center;
    background-color: #ede6db;
    margin: 20px;
}
.RepairCard > div {
    font-size: 2rem;
    padding-top: 15px;
    font-weight: bold;
}
.RepairCard > img {
    border-radius: 8px;
}
.RepairContents {
    background-color: #ede6db;
    text-align: center;
    margin: 20px 20%;
    padding: 10px;
    font-size: 1.7rem;
    font-weight: bold;
}
.RepairList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 20px;
    font-size: 1.4rem;
}
.RepairEx {
    padding-bottom: 100px;
}
