.footerBox {
    background-color: #baa89a;
    /* position: fixed;
    bottom: 0; */
    width: 100%;
}
.footerInBox {
    padding: 30px 0 50px 0;
    display: flex;
    justify-content: space-between;
}
.rightFirst {
    display: flex;
    margin-bottom: 30px;
}

.rightFirst div:first-child {
    padding-right: 20px;
    margin-right: 20px;
    border-right: 1px solid rgb(97, 97, 97);
}
.rightSecond * {
    margin-bottom: 5px;
}
.rightSecond div:last-child {
    margin-top: 50px;
}
